*{
    margin: 0px;
    padding: 0px;
}

.navbar{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    background-color: #FCFCFC;
    box-shadow: 1px 0.5px 3px rgb(190, 190, 190);
    align-items: center;
}

.navbar > a > img{
    width: 250px;
    object-fit: contain;
}

.navbar .searchBar{
    position: relative;
    width: max-content;
}

.navbar .searchBar img{
    position: absolute;
    right: 17px;
    height: 22px;
    object-fit: contain;
    top: 10px;
}

.navbar .searchBar input{
    width: 25vw;
    flex:2;
    height: 43px;
    border-radius: 20px;
    outline: none;
    border: none;
    box-shadow: 1px 1px 5px rgb(212, 212, 212);
    padding-left: 10px;
    font-family: 'Montserrat', sans-serif;
}

.navbar .searchBar input:hover{
    box-shadow: 1px 1px 10px rgb(212, 212, 212);
}

.langPicker{
    position: relative;
    padding-top: 10px;
    margin-right: 30px;
}

.h1{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: #FCC509;
    width: max-content;
    padding: 10px 20px;
    border-radius: 40px;
    font-size: 15px;
    margin-top: 8px;
    cursor: pointer;
    position: relative;
    transition: 0.2s ease-in-out;
}   

.h1:hover{
    transform: scale(1.1);
}