
  .join_container {
    height: 100vh;
    background-color: #072446;
    position: relative;
  }
  
  .join_box-right {
    width: 42%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    transform: translate(50vw);
    transition: 0.2s;
  }

  .join_container {
    height: 100vh;
    background-color: #072446;
    position: relative;
  }
  
  .join_greeting {
    display: flex;
    height: 100%;
    align-items: center;
  }
  
  .join_greeting .welcome {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }
  
  .join_welcome h1 {
    text-align: center;
    margin-bottom: 110px;
    font-size: 3.4  vw;
    color: #fefefe;
    font-family: "Montserrat";
  }
  
  .join_redirect {
    display: flex;
    justify-content: center;
  }
  
  .redirect h3 {
    color: #fefefe;
    font-size: 1vw;
    margin-right: 10px;
    font-family: "Montserrat";
  }
  
  .redirect h4 {
    color: #fcc509;
    font-size: 1.15vw;
    margin-left: 10px;
    font-family: "Montserrat";
  }
  
  .join_redirect h4:hover {
    cursor: pointer;
  }
  
  .join_box-left {
    width: 42%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    transform: translate(9vw);
    top: 5%;
    transition: 0.2s;
  }
  
  .join_box-right {
    width: 42%;
    height: 90%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    top: 5%;
    transform: translate(50vw);
    transition: 0.2s;
  }
  
  .join_login-form {
    /* height: 80%;
    width: 80%;
    margin: 10%;
    position: relative; */
    padding: 15px;
  }
  
  .join_signup-form {
    height: 80%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  
  .join_login-form h1 {
    font-size: 3vw;
    color: #1e1e1e;
    font-family: "Montserrat";
    text-align: center;
    margin-top: 110px;
    font-weight: 600;
  }
  
  .join_login-form h2 {
    font-size: 2.3vw;
    color: #1e1e1e;
    font-family: "Montserrat";
    text-align: center;
    font-weight: 600;
  }
  
  
  .join_inputs-signup {
    margin-top: 3.7vh;
  }
  
  .join_input-trans {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }
  
  .join_input {
    font-family: "Montserrat";
    outline: none;
    border: rgb(218, 218, 218) solid 1px;
    border-radius: 7px;
    background: none;
    margin-bottom: 2.1vh;
    width: 90%;
    margin-left: 5%;
    height: 7vh;
    z-index: 2;
    padding: 8px;
    font-size: 13px;
  }
  
  .join_input1 {
    font-size: 13px;
    margin-bottom: 2.1vh;
    height: 57px;
    height: 8vh;
  
  }
  
  .join_input:hover {
    cursor: pointer;
  }
  .join_label {
    position: absolute;
    left: 2.5vw;
    top: 2.1vh;
    color: #707070;
    font-weight: 500;
    font-weight: 23px;
    font-family: "Montserrat";
    z-index: 1;
    padding: 0 5px;
  }
  
  .join_label:hover {
    cursor: pointer;
  }
  
  .join_input:focus ~ .join_label {
    top: -10px;
    transition: 0.3s;
    background-color: white;
    cursor: text;
    z-index: 3;
  }
  
  .join_input:focus {
    cursor: text;
  }
  
  .join_input:not(:placeholder-shown).join_input:not(:focus) ~ .join_label {
    top: -10px;
    transition: 0.3s;
    background-color: white;
    z-index: 3;
  }
  
  .join_login-form > a {
    float: right;
    margin-right: 25px;
    margin-top: 2px;
    font-family: "Montserrat";
    color: #092d51;
    font-size: 13px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.3s;
  }
  
  .login-form > a:hover {
    color: #105ba5;
    transform: scale(1.1);
  }
  
 
  
  .join_login-form .join_button {
    font-size: 17px;
    font-family: "Montserrat";
    background-color: #092d51;
    color: #fefefe;
    border-radius: 30px;
    font-weight: 500;
    border: none;
    outline: none;
    cursor: pointer;
    width:max-content;
    padding: 10px 30px;
    align-self: flex-end;
    margin-right: 1.2rem;
  }
  
  .join_button1 button {
    margin-top: 2vh;
  }

  .join_input-trans textarea{
    height: 15vh;
  }
  
  
 
  
  @media (min-width: 1600px) {
    .input1 {
      font-family: "Montserrat";
      outline: none;
      border: rgb(218, 218, 218) solid 1px;
      border-radius: 7px;
      background: none;
      margin-bottom: 2.2vh;
      width: 90%;
      margin-left: 5%;
      height: 8vh;
      z-index: 2;
      padding: 10px;
      font-size: 15px;
    }
  
    .button button {
      margin-top: 4vh;
    }
  
    .login-form h2 {
      font-size: 2.8vw;
    }
  
    .alternative1 {
      margin-top: 5%;
    }
  }
  